[submodule "scripts"]
	path = scripts
	url = git@github.com:matthewmccullough/scripts.git
[submodule "z-zsh"]
	path = z-zsh
	url = git://github.com/sjl/z-zsh.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
